name: Scala CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags: [ v* ]

jobs:
  build:
    strategy:
      matrix:
        java:
          - name: Zulu OpenJDK 8
            version: zulu@1.8
          - name: Zulu OpenJDK 11
            version: zulu@1.11
          - name: Zulu OpenJDK 17
            version: zulu@1.17
    name: With ${{ matrix.java.name }}
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: ${{ matrix.java.version }}
      - uses: coursier/cache-action@v6
      - name: Test
        run: sbt test
  publish:
    name: Publish release
    if: github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v'))
    needs: [build]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: zulu@1.8
      - uses: olafurpg/setup-scala@v13
      - run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}